.hero {
  min-height: 100vh;
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Alineamos el contenido en la parte superior */
  padding-top: 10; /* Margen entre botones y texto */
  margin-top: 0; /* Aseguramos que no haya margen superior */
  margin-bottom: 0;
  background-color: #272523;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/images/honda-civic.jpg');
  margin-top: 0; /* Eliminamos cualquier margen superior */
  background-size: cover;
  background-position: center;
  filter: blur(1px);
  opacity: 0.5;
  z-index: 1;
}

.hero-text {
  position: relative;
  z-index: 2;
  text-align: left;
  width: calc(100% - 40px);
  padding-left: 20px;
  margin-top: 0; /* Eliminamos cualquier margen superior */
  padding-top: 0; /* Aseguramos que no haya espacio extra */
  margin-bottom: 0;
}

.hero-text h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 6vw;
  margin: 0;
  line-height: 0.9;
  letter-spacing: -0.02em;
}

.hero-text p {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2vw;
  margin-top: 10px;
  margin-bottom: 0;
  max-width: 60%;
  line-height: 1.6;
  margin-bottom: 0; /* Eliminamos márgenes inferiores */
}

/* Ajustes para pantallas pequeñas */
@media only screen and (max-width: 768px) {
  .hero-text h1 {
    font-size: 8vw;
    line-height: 1.1;
  }

  .hero-text p {
    font-size: 4vw;
    margin-top: 20px;
    max-width: 100%;
    line-height: 1.5;
  }

  .background-image {
    filter: blur(2px);
    opacity: 0.3;
  }
}
