.hero {
  min-height: 100vh;
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Alineamos el contenido en la parte superior */
  padding-top: 0; /* Eliminamos el margen entre botones y texto */
  margin-top: 0;
  margin-bottom: 0;
  background-color: #272523; /* Fondo de color de respaldo */
  z-index: 1;
  filter: blur(1px); /* Difumina un poco la imagen para mayor legibilidad */
  opacity: 0.5;
}

.hero-text {
  position: relative;
  z-index: 2;
  text-align: left;
  width: calc(100% - 40px);
  padding-left: 20px;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
}

.hero-text h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 6vw;
  margin: 0;
  line-height: 0.9;
  letter-spacing: -0.02em;
}

.hero-text p {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2vw;
  margin-top: 10px;
  margin-bottom: 0;
  max-width: 60%;
  line-height: 1.6;
}

/* Ajustes para pantallas pequeñas */
@media only screen and (max-width: 768px) {
  .hero-text h1 {
    font-size: 8vw;
    line-height: 1.1;
  }

  .hero-text p {
    font-size: 4vw;
    margin-top: 20px;
    max-width: 100%;
    line-height: 1.5;
  }

  .hero {
    filter: blur(2px);
    opacity: 0.3;
  }
}
